Import Libraries and load data

In [13]:
import pandas as pd
import numpy as np

file = f'./vehicle_loans.csv'
loan_df = pd.read_csv(file, index_col= "UNIQUEID")
loan_df

,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,DISBURSAL_DATE,...,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,LOAN_DEFAULT
UNIQUEID,,,,,,,,,,,,,,,,,,,,,
420825,50578,58400,89.55,67,22807,45,1441,01-01-1984,Salaried,03-08-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
537409,47145,65550,73.23,67,22807,45,1502,31-07-1985,Self employed,26-09-2018,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
417566,53278,61360,89.63,67,22807,45,1497,24-08-1985,Self employed,01-08-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
624493,57513,66113,88.48,67,22807,45,1501,30-12-1993,Self employed,26-10-2018,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
539055,52378,60300,88.39,67,22807,45,1495,09-12-1977,Self employed,26-09-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626432,63213,105405,60.72,34,20700,48,1050,01-08-1988,Salaried,26-10-2018,...,0,0,4084,0,0,0,1yrs 9mon,3yrs 3mon,0,0
606141,73651,100600,74.95,34,23775,51,990,05-12-1988,Self employed,23-10-2018,...,0,0,1565,0,0,0,0yrs 6mon,0yrs 6mon,0,0
613658,33484,71212,48.45,77,22186,86,2299,01-06-1976,Salaried,24-10-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
548084,34259,73286,49.10,77,22186,86,2299,26-03-1994,Salaried,29-09-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
630213,75751,116009,66.81,77,22186,86,2299,18-02-1984,Salaried,27-10-2018,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

Data Cleaning and Exploration

In [15]:
loan_df.shape

(233154, 40)

In [24]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 233154 entries, 420825 to 630213
Data columns (total 40 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   DISBURSED_AMOUNT                     233154 non-null  int64
 1   ASSET_COST                           233154 non-null  int64
 2   LTV                                  233154 non-null  float64
 3   BRANCH_ID                            233154 non-null  int64
 4   SUPPLIER_ID                          233154 non-null  int64
 5   MANUFACTURER_ID                      233154 non-null  int64
 6   CURRENT_PINCODE_ID                   233154 non-null  int64
 7   DATE_OF_BIRTH                        233154 non-null  object
 8   EMPLOYMENT_TYPE                      225493 non-null  object
 9   DISBURSAL_DATE                       233154 non-null  object
 10  STATE_ID                             233154 non-null  int64
 11  EMPLOYEE_CODE_ID                     233154 non-null  int64
 12  MOBILENO_AVL_FLAG                    233154 non-null  int64
 13  AADHAR_FLAG                          233154 non-null  int64
 14  PAN_FLAG                             233154 non-null  int64
 15  VOTERID_FLAG                         233154 non-null  int64
 16  DRIVING_FLAG                         233154 non-null  int64
 17  PASSPORT_FLAG                        233154 non-null  int64
 18  PERFORM_CNS_SCORE                    233154 non-null  int64
 19  PERFORM_CNS_SCORE_DESCRIPTION        233154 non-null  object
 20  PRI_NO_OF_ACCTS                      233154 non-null  int64
 21  PRI_ACTIVE_ACCTS                     233154 non-null  int64
 22  PRI_OVERDUE_ACCTS                    233154 non-null  int64
 23  PRI_CURRENT_BALANCE                  233154 non-null  int64
 24  PRI_SANCTIONED_AMOUNT                233154 non-null  int64
 25  PRI_DISBURSED_AMOUNT                 233154 non-null  int64
 26  SEC_NO_OF_ACCTS                      233154 non-null  int64
 27  SEC_ACTIVE_ACCTS                     233154 non-null  int64
 28  SEC_OVERDUE_ACCTS                    233154 non-null  int64
 29  SEC_CURRENT_BALANCE                  233154 non-null  int64
 30  SEC_SANCTIONED_AMOUNT                233154 non-null  int64
 31  SEC_DISBURSED_AMOUNT                 233154 non-null  int64
 32  PRIMARY_INSTAL_AMT                   233154 non-null  int64
 33  SEC_INSTAL_AMT                       233154 non-null  int64
 34  NEW_ACCTS_IN_LAST_SIX_MONTHS         233154 non-null  int64
 35  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS  233154 non-null  int64
 36  AVERAGE_ACCT_AGE                     233154 non-null  object
 37  CREDIT_HISTORY_LENGTH                233154 non-null  object
 38  NO_OF_INQUIRIES                      233154 non-null  int64
 39  LOAN_DEFAULT                         233154 non-null  int64
dtypes: float64(1), int64(33), object(6)
memory usage: 72.9+ MB

In [20]:
loan_df.isnull().sum()

DISBURSED_AMOUNT                          0
ASSET_COST                                0
LTV                                       0
BRANCH_ID                                 0
SUPPLIER_ID                               0
MANUFACTURER_ID                           0
CURRENT_PINCODE_ID                        0
DATE_OF_BIRTH                             0
EMPLOYMENT_TYPE                        7661
DISBURSAL_DATE                            0
STATE_ID                                  0
EMPLOYEE_CODE_ID                          0
MOBILENO_AVL_FLAG                         0
AADHAR_FLAG                               0
PAN_FLAG                                  0
VOTERID_FLAG                              0
DRIVING_FLAG                              0
PASSPORT_FLAG                             0
PERFORM_CNS_SCORE                         0
PERFORM_CNS_SCORE_DESCRIPTION             0
PRI_NO_OF_ACCTS                           0
PRI_ACTIVE_ACCTS                          0
PRI_OVERDUE_ACCTS                         0
PRI_CURRENT_BALANCE                       0
PRI_SANCTIONED_AMOUNT                     0
PRI_DISBURSED_AMOUNT                      0
SEC_NO_OF_ACCTS                           0
SEC_ACTIVE_ACCTS                          0
SEC_OVERDUE_ACCTS                         0
SEC_CURRENT_BALANCE                       0
SEC_SANCTIONED_AMOUNT                     0
SEC_DISBURSED_AMOUNT                      0
PRIMARY_INSTAL_AMT                        0
SEC_INSTAL_AMT                            0
NEW_ACCTS_IN_LAST_SIX_MONTHS              0
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS       0
AVERAGE_ACCT_AGE                          0
CREDIT_HISTORY_LENGTH                     0
NO_OF_INQUIRIES                           0
LOAN_DEFAULT                              0
dtype: int64

In [21]:
loan_df.dtypes

DISBURSED_AMOUNT                         int64
ASSET_COST                               int64
LTV                                    float64
BRANCH_ID                                int64
SUPPLIER_ID                              int64
MANUFACTURER_ID                          int64
CURRENT_PINCODE_ID                       int64
DATE_OF_BIRTH                           object
EMPLOYMENT_TYPE                         object
DISBURSAL_DATE                          object
STATE_ID                                 int64
EMPLOYEE_CODE_ID                         int64
MOBILENO_AVL_FLAG                        int64
AADHAR_FLAG                              int64
PAN_FLAG                                 int64
VOTERID_FLAG                             int64
DRIVING_FLAG                             int64
PASSPORT_FLAG                            int64
PERFORM_CNS_SCORE                        int64
PERFORM_CNS_SCORE_DESCRIPTION           object
PRI_NO_OF_ACCTS                          int64
PRI_ACTIVE_ACCTS                         int64
PRI_OVERDUE_ACCTS                        int64
PRI_CURRENT_BALANCE                      int64
PRI_SANCTIONED_AMOUNT                    int64
PRI_DISBURSED_AMOUNT                     int64
SEC_NO_OF_ACCTS                          int64
SEC_ACTIVE_ACCTS                         int64
SEC_OVERDUE_ACCTS                        int64
SEC_CURRENT_BALANCE                      int64
SEC_SANCTIONED_AMOUNT                    int64
SEC_DISBURSED_AMOUNT                     int64
PRIMARY_INSTAL_AMT                       int64
SEC_INSTAL_AMT                           int64
NEW_ACCTS_IN_LAST_SIX_MONTHS             int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS      int64
AVERAGE_ACCT_AGE                        object
CREDIT_HISTORY_LENGTH                   object
NO_OF_INQUIRIES                          int64
LOAN_DEFAULT                             int64
dtype: object

Disbursal Date Range

In [37]:
#Convert [DISBURSAL_DATE] column into datetime using pd.to_datetime()

loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'], format = 'mixed')

print('Max disbursal date: ', loan_df['DISBURSAL_DATE'].max())
print('Minimum disbursal date: ', loan_df['DISBURSAL_DATE'].min())
print('time_span: ', loan_df['DISBURSAL_DATE'].max() - loan_df['DISBURSAL_DATE'].min())

Max disbursal date:  2018-12-10 00:00:00
Minimum disbursal date:  2018-01-08 00:00:00
time_span:  336 days 00:00:00